.vs/
CS.Common/bin/
CS.Common/obj/
CS.API/obj/
CS.API/bin/
/CS.ViewModel/obj
/CS.ViewModel/bin/
/CS.Middleware/obj
/CS.Middleware/bin/
/CS.Implements/obj
/CS.Implements/bin/
/CS.DI/obj
/CS.DI/bin/
/CS.Configuration/obj
/CS.Configuration/bin/
/CS.Abstractions/bin/
/CS.Abstractions/obj
/CS.Base/bin/
/CS.Base/obj
/CS.EF/bin/
/CS.EF/obj/
/CS.EF.Design/bin/
/CS.EF.Design/obj
*.user
.idea/
CS.SignalRClient/bin/
CS.SignalRClient/obj/
/CS.API/wwwroot/uploads/
/CS.Helper/bin/
/CS.Helper/obj/
/TEK.Gateway.Domain/obj
/TEK.Gateway.Domain/bin
/TEK.Gateway.FPT/bin
/TEK.Gateway.FPT/obj
/TEK.Email/bin
/TEK.Email/obj
/TEK.Core/bin
/TEK.Core/obj
/TEK.Core.Service/bin
/TEK.Core.Service/obj
/TEK.Core.UoW/bin
/TEK.Core.UoW/obj
/TEK.Core.Admin/bin
/TEK.Core.Admin/obj
/TEK.Core.Admin.Domain/bin
/TEK.Core.Admin.Domain/obj
/TEK.Gateway.K/bin
/TEK.Gateway.K/obj
/TEK.Gateway.HSOFT/bin
/TEK.Gateway.HSOFT/obj
/TEK.Core.App/bin
/TEK.Core.App/obj
/TEK.Core.App.Domain/bin
/TEK.Core.App.Domain/obj